<script>
    $('#headerTitle').text("Create Project");
    document.getElementById("uploadBtn").onchange = function () {
        document.getElementById("uploadFile").value = this.files[0].name;
    };
</script>

<form action="" style="width: 45%; margin: 10px 15px" ng-controller="ProjectCtrl">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="sample1">
        <label class="mdl-textfield__label" for="sample1">Project name</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="sample2">
        <label class="mdl-textfield__label" for="sample2">Project manager name</label>
    </div>


    <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
        <input class="mdl-textfield__input" placeholder="Attach project logo" type="text" id="uploadFile" readonly/>
        <div class="mdl-button mdl-button--colored mdl-button--icon mdl-button--file">
            <i class="material-icons">attach_file</i><input type="file" id="uploadBtn">
        </div>
    </div>
    <br>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        Add project
    </button>

</form>