.projects-card-square > .mdl-card__title {
    color: #fff;
    background-color: #607D8B;
}

.tadiran-card-square > .mdl-card__title {
    color: #fff;
    /*background: url('../img/Tadiran.png') bottom right no-repeat #CFD8DC;*/
    background-size: 25%;
}

.clalit-card-square > .mdl-card__title {
    color: #fff;
    background: url('../img/Clalit.png') bottom right no-repeat #CFD8DC;
    background-size: 25%;
}

.mdl-card {
    width: 100%;
    height: 270px;
}

.mdl-cell .btn {
    margin-top: 10px;
}

.adminMenu {
    list-style: none;
}

.adminMenu li {
    margin-bottom: 35px;
}

.projects-table-info {
    width: 100%;
    border-collapse: collapse;

}

.projects-table-info tr {
    border: 1px solid rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.projects-table-info td {
    text-align: center;
    font-size: 13px;
    padding: 7px;
}

.adminMenu .mdl-button{
    width: 162px;
    text-align: left;
}

.mdl-layout__drawer-button{
    visibility: hidden;
    background-color: #607D8B;
}

/*add project form*/
.mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
}

.mdl-textfield--file.mdl-textfield__input {
    box-sizing: border-box;
}

.mdl-button--file {
    right: 0;
}

/*end add project form*/

.mdl-card {
    min-height: 110px;
}

.calendar-icon {
    float: right;
    text-align: right;
}

.material-icons.light-blue {
    color: #0780cc;
}

.answers-card.mdl-card {
    width: 300px;
    height: 50px;
    background: url("../../assets/img/like.svg") top left no-repeat #90A4AE;
    background-size: 150px 150px;

}

.answers-card > .mdl-card__actions {
    height: 100%;
    padding: 10px;
    /*background: rgba(0, 0, 0, 0.2);*/
    text-align: right;
    font-size: 28px;
}

.answers-card {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.mdl-date-textfield {
    float: right;
}

@media screen and (min-width: 1025px) {

    .mainView {
        margin-left: 30px;
    }
}

.mdl-menu{
    height: 200px;
    overflow-y: scroll;
}

.c3-axis-y {
    display: none;
}
/** Mobile **/
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
    .mdl-layout__drawer-button{
        visibility: visible;
        z-index: 1;
        background-color: #607D8B !important;
    }
}

/** Tablet **/
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .mdl-layout__drawer-button{
        visibility: visible;
        z-index: 1;
        background-color: #607D8B !important;
    }
}

/** Tablet (landscape) **/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .mdl-layout__drawer-button{
        visibility: visible;
        z-index: 1;
        background-color: #607D8B !important;
    }
}



