<div ng-controller="AuthCtrl">
    <div class="form-container">
        <hgroup>
            <h1> {{translation.welcome}} Panels inc.</h1>
            <h3>{{translation.loginToContinue}}</h3>
        </hgroup>
        <form>
            <div class="group">
                <input ng-keyup="$event.keyCode == 13 && getLogin()" ng-model="login" id="login" type="text" placeholder="{{translation.loginPlace}}"><span class="highlight"></span><span
                    class="bar"></span>
            </div>
            <div class="group">
                <input ng-keyup="$event.keyCode == 13 && getLogin()" ng-model="pass" id="pass" type="password" placeholder="{{translation.passwordPlace}}"><span
                    class="highlight"></span><span
                    class="bar"></span>
            </div>
            <p ng-bind="alert" style="text-align: center; color: darkred">{{alert}}</p>
            <button ng-click="getLogin()" id="button" type="button" class="button buttonBlue">{{translation.button}}
                <div class="ripples buttonRipples">
                    <span class="ripplesCircle"></span>
                </div>
            </button>
        </form>
    </div>
</div>

<script src="./resources/auth.js"></script>
