<script>
    $('.mdl-layout__drawer-button').css({
        'z-index': 1,
        'background-color': "#607D8B"
    });
</script>
<div class="mainView" ng-controller="ChartsCtrl">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--5-col mdl-cell--5-col-tablet">
            <div id="chart2_1"></div>
        </div>
        <div class="mdl-cell mdl-cell--1-offset-desktop mdl-cell--1-offset-tablet mdl-cell--5-col mdl-cell--5-col-tablet">
            <div ui-view></div>
        </div>
    </div>
</div>
