<div class="WTF">
    <div class="mainView" ng-controller="ChartsCtrl">
        <div class="mdl-grid">
            <div class="mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                <div class="answers-card mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand"></div>
                    <div class="mdl-card__actions">
                        <span class="demo-card-image__filename">ענו לסקר</span><br>
                        <span class="demo-card-image__filename">{{totalIntroduced}}</span>
                    </div>
                </div>
            </div>

            <div class="mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                <!--вспомогательная плашка - потом нужно убрать-->
                <div><span>{{minToDate}}</span> - <span>{{maxToDate}}</span></div>

                <div class="mdl-date-textfield mdl-js-date-textfield mdl-date-textfield--floating-label">
                    <span class="calendar-icon">{{translation.ToDate}}
                        <i class="material-icons light-blue">date_range</i></span><br>
                    <input class="mdl-date-textfield__input"
                           type="date"
                           ng-model="dateEnd"
                           value="{{userDate}}"
                           min="{{minToDate}}"
                           max="{{maxToDate}}"
                           id="sample3">
                </div>
            </div>
            <div class="mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                <!--вспомогательная плашка - потом нужно убрать-->
                <div><span>{{minFromDate}}</span> - <span>{{maxFromDate}}</span></div>

                <div class="mdl-date-textfield mdl-js-date-textfield mdl-date-textfield--floating-label">
                    <span class="calendar-icon">{{translation.FromDate}}<i
                            class="material-icons light-blue">date_range</i></span><br>
                    <input class="mdl-date-textfield__input"
                           type="date"
                           ng-model="dateStart"
                           value="{{createDate}}"
                           min="{{minFromDate}}"
                           max="{{maxFromDate}}"
                           id="sample4">
                </div>
            </div>
        </div>


        <div class="mdl-grid">
            <div class="mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
                    <input
                            class="mdl-textfield__input"
                            placeholder="choose new file for upload"
                            type="text" id="uploadFile"
                            readonly/>

                    <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
                        <i class="material-icons">attach_file</i>
                       <input type="file" id="uploadBtn" file-model="myFile">
                    </div>

                </div>


                <span style="float:left">
                    <button
                            class="mdl-button mdl-js-button mdl-button--primary mdl-stat-btn"
                            ng-click="uploadFile()">
                        <b>
                            {{translation.LoadNewCustomers}}
                        </b>
                    </button>
                    <!-- attach excel file loader animation -->
                <svg ng-show="sendExcel" style="margin-right: 10px;"  class="spinner" width="25px" height="25px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                </svg>
                    <!-- END attach excel file loader animation -->
                </span>
            </div>


            <div class="mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--3-col-phone">
                <span>
                    <button class="mdl-button mdl-js-button mdl-button--primary" ng-click="exportToXLS()">
                        <b>{{translation.ExportToExcel}}</b>
                    </button>
                </span>

            </div>

            <div class="mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--3-col-phone">
                <button class="mdl-button mdl-js-button mdl-button--primary" id="buttonExportToPDF" ng-model="buttonExportToPDF" ng-click="exportToPDF()">
                    <b>{{translation.ExportToPDF}}</b>
                </button>
            </div>

            <div class="mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
                <button class="mdl-button mdl-js-button mdl-button--primary" ng-click="showStat()">
                    <b>{{translation.Statistics}}</b>
                </button>
            </div>
        </div>


    </div>
</div>

<div id="toExportToPDF">
    <!-- charts block 1 -->

    <div class="mdl-grid">
        <div class="mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <h5 style="{{translation.FloatStyle}}">{{translation.WhatExtent}}</h5>
        </div>
    </div>

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--7-col mdl-cell--8-col-tablet">
            <div id="chart0"></div>
        </div>

        <div class="mdl-cell mdl-cell--1-offset-desktop mdl-cell--1-offset-tablet mdl-cell--4-col mdl-cell--4-col-tablet">
            <div id="chart_gauge"></div>
        </div>
    </div>
    <!-- END charts block 1 -->

    <!-- charts block 2 -->
    <div class="mdl-grid">
        <div class="mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div>
                <h5 style="{{translation.FloatStyle}}">{{translation.WaitTime}}</h5>
            </div>
        </div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--7-col mdl-cell--8-col-tablet">
            <div id="chart1"></div>
        </div>
        <div class="mdl-cell mdl-cell--1-offset-desktop mdl-cell--1-offset-tablet mdl-cell--4-col mdl-cell--4-col-tablet">
            <div id="chart_gauge2"></div>
        </div>
    </div>
    <!--END charts block 2 -->

    <!-- charts block 3 -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--7-col mdl-cell--8-col-tablet">
            <div id="chart2"></div> <!-- HERE WAS ID CHART3 -->
        </div>


        <div class="mdl-cell mdl-cell--1-offset-desktop mdl-cell--1-offset-tablet mdl-cell--4-col mdl-cell--4-col-tablet">
            <div id="chart_gauge3"></div>
        </div>
    </div>
    <!-- END charts block 3 -->
</div><!--</div>-->

<script>
    document.getElementById("uploadBtn").onchange = function () {
        document.getElementById("uploadFile").value = this.files[0].name;
    };

</script>


