<script>
    $('.mdl-layout__drawer-button').css({
        'z-index': 1,
        'background-color': "#607D8B"
    });
</script>

<div class="mainView" ng-controller="ChartsCtrl">

    <div class="mdl-grid">
        <div class="mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <div class="answers-card mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                    <span class="demo-card-image__filename">ענו לסקר</span><br>
                    <span class="demo-card-image__filename">6582</span>
                </div>
            </div>
        </div>
        <div class="mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-date-textfield mdl-js-date-textfield mdl-date-textfield--floating-label">
                <span class="calendar-icon">עד <i class="material-icons light-blue">date_range</i></span><br>
                <input class="mdl-date-textfield__input" type="date" value="{{userDay}}" id="sample3">
                <span class="mdl-date-textfield__error">MM/DD/YYYY</span>
            </div>
        </div>
        <div class="mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-date-textfield mdl-js-date-textfield mdl-date-textfield--floating-label">
                <span class="calendar-icon">מ <i class="material-icons light-blue">date_range</i></span><br>
                <input class="mdl-date-textfield__input" type="date" value="{{createDay}}" id="sample4">
                <span class="mdl-date-textfield__error">MM/DD/YYYY</span>
            </div>
        </div>
    </div>







    <div class="mdl-grid">



        <div class="mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
                <input class="mdl-textfield__input" placeholder="choose new file for upload" type="text" id="uploadFile" readonly/>
                <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
                    <i class="material-icons">attach_file</i><input type="file" id="uploadBtn" file-model="myFile">
                </div>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--primary" ng-click="uploadFile()">
                <b>Load new costumers</b>
            </button>

            <button class="mdl-button mdl-js-button mdl-button--primary"><b>{{translation.ExportToExcel}}</b></button>
            <button class="mdl-button mdl-js-button mdl-button--primary"><b>{{translation.ExportToPDF}}</b></button>
        </div>
        <div class="mdl-cell--3-col">
            <!-- empty cell, can use it -->
        </div>
        <div class="mdl-cell--5-col mdl-cell--8-col-tablet mdl-cell--8-col-phone">
            <h5 style="float: right;">?באיזו מידה אתה מרוצה מהשירות שקיבלת</h5>
        </div>
    </div>

    <!-- charts block 1 -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--7-col mdl-cell--8-col-tablet">
            <div id="chart"></div>
        </div>
        <div class="mdl-cell mdl-cell--1-offset-desktop mdl-cell--1-offset-tablet mdl-cell--4-col mdl-cell--4-col-tablet">
            <div id="chart_gauge"></div>
        </div>
    </div>
    <!-- END charts block 1 -->

    <!-- charts block 2 -->
    <div class="mdl-grid">
        <div class="mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone"><!-- empty cell, can use it --></div>
        <div class="mdl-cell--3-col"><!-- empty cell, can use it --></div>
        <div class="mdl-cell--5-col mdl-cell--8-col-tablet mdl-cell--8-col-phone">
            <h5 style="float: right;">?באיזו מידה אתה מרוצה מזמן ההמתנה</h5>
        </div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--7-col mdl-cell--8-col-tablet">
            <div id="chart2"></div>
        </div>
        <div class="mdl-cell mdl-cell--1-offset-desktop mdl-cell--1-offset-tablet mdl-cell--4-col mdl-cell--4-col-tablet">
            <div id="chart_gauge2"></div>
        </div>
    </div>
    <!--END charts block 2 -->

    <!-- charts block 3 -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--7-col mdl-cell--8-col-tablet">
            <div id="chart3"></div>
        </div>
        <div class="mdl-cell mdl-cell--1-offset-desktop mdl-cell--1-offset-tablet mdl-cell--4-col mdl-cell--4-col-tablet">
            <div id="chart_gauge3"></div>
        </div>
    </div>
    <!-- END charts block 3 -->
</div>
<script>
    document.getElementById("uploadBtn").onchange = function () {
        document.getElementById("uploadFile").value = this.files[0].name;
    };

</script>


